<a href="https://colab.research.google.com/github/mnfaizp/Big-Data-Course/blob/main/NaiveBayesFromRapidMiner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip
!unzip bank.zip

--2021-05-13 00:45:00--  https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 579043 (565K) [application/x-httpd-php]
Saving to: ‘bank.zip’

bank.zip            100%[===================>] 565.47K  1.34MB/s    in 0.4s

2021-05-13 00:45:01 (1.34 MB/s) - ‘bank.zip’ saved [579043/579043]

Archive:  bank.zip
  inflating: bank-full.csv
  inflating: bank-names.txt
  inflating: bank.csv

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing

In [3]:
df = pd.read_csv('bank.csv', sep=';')
df.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [4]:
encoder = preprocessing.LabelEncoder()

df['education'] = encoder.fit_transform(df['education'])
df['contact'] = encoder.fit_transform(df['contact'])
df['default'] = encoder.fit_transform(df['default'])
df['month'] = encoder.fit_transform(df['month'])
df['housing'] = encoder.fit_transform(df['housing'])
df['marital'] = encoder.fit_transform(df['marital'])
df['poutcome'] = encoder.fit_transform(df['poutcome'])
df['job'] = encoder.fit_transform(df['job'])
df['loan'] = encoder.fit_transform(df['loan'])
df['age'] = encoder.fit_transform(df['age'])
df['y'] = encoder.fit_transform(df['y'])

In [5]:
scaler = preprocessing.MinMaxScaler()
df[['pdays', 'balance']] = scaler.fit_transform(df[['pdays','balance']])

In [6]:
feature_label = ['age', 'balance','day', 'education','month', 'housing', 'job', 'loan', 'previous', 'marital', 'poutcome', 'contact', 'default']
label = ['y']

In [7]:
features = df[feature_label]
label = df['y']
features

      age   balance  day  education  ...  marital  poutcome  contact  default
0      11  0.068455   19          0  ...        1         3        0        0
1      14  0.108750   11          1  ...        1         0        0        0
2      16  0.062590   16          2  ...        2         0        0        0
3      11  0.064281    3          2  ...        1         3        2        0
4      40  0.044469    5          1  ...        1         3        2        0
...   ...       ...  ...        ...  ...      ...       ...      ...      ...
4516   14  0.039999   30          1  ...        1         3        0        0
4517   38  0.000000    9          2  ...        1         3        2        1
4518   38  0.048429   19          1  ...        1         3        0        0
4519    9  0.059731    6          1  ...        1         1        0        0
4520   25  0.059717    3          2  ...        2         1        0        0

[4521 rows x 13 columns]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.2)

In [9]:
simple_distribution = GaussianNB()
simple_distribution.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [10]:
y_pred = simple_distribution.predict(X_test)

In [11]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

array([[748,  50],
       [ 91,  16]])

In [12]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.8441988950276244

In [13]:
from sklearn.metrics import precision_score, recall_score

print(recall_score(y_test, y_pred))
print(precision_score(y_test, y_pred))

0.14953271028037382
0.24242424242424243

In [14]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred)

0.18497109826589594